@use '../abstracts';

.checkout {
    margin: 3rem 0 4rem;

    &__search {
        @include abstracts.screen(lg) {
            margin-top: 3rem;

            background: var(--large-screen-search-background);
        }

        @include abstracts.screen(sm) {
            margin-top: -1rem;
        }
    }

    &__breadcrumbs {
        background: var(--checkout-background);

        @include abstracts.screen(lg) {
            margin-top: 3rem;
        }

        @include abstracts.screen(sm) {
            margin-top: 2rem;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;

        margin-top: 3rem;

        @include abstracts.screen(sm) {
            margin-top: 2rem;
        }
    }

    &__list {
        padding: 0 3rem 3rem;
        border-radius: 2rem;

        color: var(--checkout-text-color);
        background: var(--checkout-background);

        @include abstracts.screen(xl) {
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 2rem;
        }

        @include abstracts.screen(lg) {
            padding-left: 3rem;
            padding-right: 3rem;
            padding-bottom: 3rem;
        }

        @include abstracts.screen(sm) {
            padding-left: 1.6rem;
            padding-right: 1.6rem;
            padding-bottom: 1.6rem;
        }
    }

    &__vertical {
        display: flex;
        flex-direction: column;
    }

    &__horizontal {
        display: flex;
    }

    &__content {
        flex: 1;

        @include abstracts.screen(md) {
            flex-direction: column;
        }

        @include abstracts.screen(sm) {
            margin-left: 1.6rem;
        }
    }

    &__middle {
        align-items: center;
        gap: 0.7rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(xl) {
            font-size: 1.6rem;
        }

        @include abstracts.screen(lg) {
            font-size: 1.8rem;
        }
    }

    &__sparate {
        width: 0.2rem;
        height: 1.7rem;
        background: #9e9da8;
    }

    &__item {
        padding: 3rem 0;
        border-bottom: 0.1rem solid var(--checkout-boder-color);

        @include abstracts.screen(sm) {
            padding: 1.6rem 0;
        }
    }

    &__image {
        width: 16.5rem;
        height: 16.5rem;
        object-fit: contain;

        @include abstracts.screen(xl) {
            width: 14.5rem;
            height: 14.5rem;
        }

        @include abstracts.screen(lg) {
            width: 16.5rem;
            height: 16.5rem;
        }

        @include abstracts.screen(md) {
            width: 14rem;
            height: 14rem;
        }

        @include abstracts.screen(sm) {
            width: 8rem;
            height: 8rem;
        }
    }

    &__left {
        gap: 1.6rem;
    }

    &__right {
        justify-content: space-between;
        text-align: right;
        margin-left: auto;

        @include abstracts.screen(md) {
            margin-top: 2rem;
            justify-content: flex-start;
            text-align: left;
            margin-left: 0;
            gap: 2rem;
        }
    }

    &__header,
    &__bottom {
        justify-content: space-between;
    }

    &__header {
        align-items: flex-start;
    }

    &__title {
        max-width: 37.4rem;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(xl) {
            font-size: 1.6rem;
        }

        @include abstracts.screen(lg) {
            font-size: 1.8rem;
        }

        @include abstracts.screen(sm) {
            font-size: 1.4rem;
            line-height: 142.875%;
        }
    }

    &__price {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        color: #9e9da8;

        @include abstracts.screen(xl) {
            font-size: 1.6rem;
        }

        @include abstracts.screen(lg) {
            font-size: 1.8rem;
        }
    }

    &__price--bold {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;

        @include abstracts.screen(xl) {
            font-size: 2rem;
        }

        @include abstracts.screen(lg) {
            font-size: 2.2rem;
        }

        @include abstracts.screen(sm) {
            font-size: 1.8rem;
        }
    }

    &__status {
        color: #67b044;
    }

    &__edit {
        gap: 2rem;

        @include abstracts.screen(sm) {
            flex-direction: column;
            gap: 1rem;
        }
    }

    &__wrap {
        justify-content: center;
        gap: 1rem;
        padding: 1rem 2rem;
        border: 1px solid var(--checkout-boder-color);
        border-radius: 1rem;

        @include abstracts.screen(xl) {
            padding: 0.5rem 1rem;
        }

        @include abstracts.screen(lg) {
            padding: 1rem 2rem;
        }

        &-text {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;

            @include abstracts.screen(xl) {
                font-size: 1.3rem;
            }

            @include abstracts.screen(lg) {
                font-size: 1.5rem;
            }

            @include abstracts.screen(sm) {
                font-size: 1.4rem;
            }
        }

        &-icon {
            margin-top: 0.2rem;
            width: 1.6rem;
            height: 1.6rem;

            @include abstracts.screen(xl) {
                width: 1.3rem;
                height: 1.3rem;
            }

            @include abstracts.screen(lg) {
                width: 1.6rem;
                height: 1.6rem;
            }
        }
    }

    &__select,
    &__quantity-icon {
        cursor: pointer;
    }

    &__select {
        align-items: center;
    }

    &__cta {
        gap: 3rem;
        margin-top: auto;
        margin-bottom: 1rem;
        min-height: 4.4rem;

        @include abstracts.screen(xl) {
            min-height: 4rem;
        }

        @include abstracts.screen(lg) {
            min-height: 4.4rem;
        }

        @include abstracts.screen(sm) {
            min-height: 3rem;
        }
    }

    &__icon {
        &-wrap {
            display: flex;
            align-items: center;
        }
    }

    &__liked {
        margin-top: 0.6rem;
    }

    &__liked {
        display: none;
    }

    &__btn {
        align-items: center;
        gap: 1rem;

        color: #9e9da8;
    }

    &__btn.checkout__btn-liked .checkout__like {
        display: none;
    }

    &__btn.checkout__btn-liked .checkout__liked {
        display: block;
    }

    &__btn.checkout__btn-liked {
        gap: 0;
    }

    &__bill {
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        padding: 3rem;
        border-radius: 2rem;

        color: var(--checkout-text-color);
        background: var(--checkout-background);

        @include abstracts.screen(lg) {
            margin-top: 3rem;
        }

        @include abstracts.screen(sm) {
            margin-top: 2rem;
            padding-left: 1.6rem;
            padding-right: 1.6rem;
            padding-bottom: 1.6rem;
        }

        &-row {
            justify-content: space-between;
            align-items: center;
        }

        &-label {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 150%;

            &--bold {
                font-weight: 500;
            }
        }

        &-number {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 150%;
        }

        &-separate {
            height: 0.1rem;
            background: var(--checkout-boder-color);
        }

        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1.6rem;
            padding: 1.6rem 2.5rem;

            font-size: 2rem;
            font-weight: 500;
            line-height: 145.455%;

            @include abstracts.screen(xl) {
                padding: 1.2rem 2.2rem;

                font-size: 1.6rem;
            }

            @include abstracts.screen(lg) {
                padding: 1.6rem 2.5rem;

                font-size: 2rem;
            }

            @include abstracts.screen(sm) {
                font-size: 1.6rem;
            }
        }
    }

    &__gift {
        align-items: flex-start;
        gap: 2rem;
        margin-top: 3rem;
        padding: 3rem;
        border-radius: 2rem;

        color: var(--checkout-text-color);
        background: var(--checkout-background);

        @include abstracts.screen(xl) {
            padding: 2rem;
        }

        @include abstracts.screen(lg) {
            padding: 3rem;
        }

        @include abstracts.screen(sm) {
            margin-top: 2rem;
        }

        &-thumb {
            padding: 1rem;
            border-radius: 1.4rem;
            background: var(--gift-image-background);

            @include abstracts.screen(xl) {
                padding: 0.5rem;
            }

            @include abstracts.screen(lg) {
                padding: 1rem;
            }

            @include abstracts.screen(sm) {
                padding: 0.8rem;
            }
        }

        &-content {
            gap: 1rem;
        }

        &-title {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;

            @include abstracts.screen(xl) {
                font-size: 1.4rem;
            }

            @include abstracts.screen(lg) {
                font-size: 1.8rem;
            }

            @include abstracts.screen(sm) {
                font-size: 1.6rem;
                line-height: 150%;
            }
        }

        &-desc {
            font-size: 1.4rem;
            line-height: 142.857%;

            @include abstracts.screen(xl) {
                font-size: 1.2rem;
            }

            @include abstracts.screen(lg) {
                font-size: 1.4rem;
            }
        }
    }
}

.provisional {
    padding-top: 3rem;

    @include abstracts.screen(md) {
        padding-top: 1rem;
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 28.7rem;
        padding-bottom: 3rem;
        margin-left: auto;
        border-bottom: 0.1rem solid var(--checkout-boder-color);

        &-item {
            justify-content: space-between;
        }
    }

    &__price {
        color: var(--checkout-text-color);
    }

    &__bottom {
        align-items: center;
        justify-content: space-between;
        margin-top: 3rem;
    }

    &__back {
        gap: 2rem;
    }

    &__total {
        order: 1;
        gap: 14rem;
    }
}

.shipping {
    padding-top: 2rem;

    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;

        @include abstracts.screen(md) {
            font-size: 2.2rem;
        }

        @include abstracts.screen(sm) {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 150%;
        }
    }

    &__separate {
        margin: 3rem 0;
        height: 0.1rem;
        background: var(--checkout-boder-color);

        @include abstracts.screen(sm) {
            margin-top: 1.6rem;
            margin-bottom: 1.6rem;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include abstracts.screen(sm) {
            flex-direction: column;
            align-items: flex-start;
            gap: 1.6rem;
        }

        &-title {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;

            @include abstracts.screen(sm) {
                font-size: 1.6rem;
                line-height: 150%;
            }
        }

        &-desc {
            margin-top: 0.4rem;
            font-size: 1.5rem;
            line-height: 146.667%;

            @include abstracts.screen(md) {
                max-width: 25rem;
            }

            @include abstracts.screen(sm) {
                font-size: 1.4rem;
                line-height: 142.857%;
            }
        }

        &-button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            @include abstracts.screen(md) {
                font-size: 1.4rem;
            }

            @include abstracts.screen(sm) {
                font-size: 1.8rem;
            }
        }
    }

    &__form {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        &-item {
            display: flex;
            align-items: flex-start;

            @include abstracts.screen(sm) {
                flex-direction: column;
            }
        }

        &-left {
            flex: 1;
            margin-left: 1.6rem;
            padding-left: 3.73rem;
        }

        &-right {
            align-self: flex-end;
            text-align: right;

            @include abstracts.screen(sm) {
                margin-top: 1.6rem;
                align-self: flex-start;
                text-align: left;
            }
        }

        &-label {
            position: relative;

            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;

            &::before {
                content: '';
                position: absolute;
                top: 4px;
                left: -52px;
                width: 1.85rem;
                height: 1.85rem;
                border: 0.1rem solid var(--checkout-text-color);
                border-radius: 0.5rem;
            }

            &::after {
                content: url(../../assets/icons/check.svg);
                position: absolute;
                top: -1px;
                left: -47px;
                width: 1rem;
                height: 1rem;
                filter: var(--shipping-check-color);

                @include abstracts.screen(sm) {
                    top: 0.2rem;
                    left: -47px;
                }
            }

            @include abstracts.screen(sm) {
                font-size: 1.6rem;
                line-height: 150%;
            }
        }

        &-item:has(input[type='radio']:checked) .shipping__form-label::before {
            border-color: #67b044;
            background: #67b044;
        }

        &-item:has(input[type='radio']:checked) .shipping__form-label::after {
            filter: var(--shipping-checked-color);
        }

        &-desc {
            font-size: 1.5rem;
            line-height: 146.667%;

            @include abstracts.screen(sm) {
                font-size: 1.4rem;
                line-height: 142.857%;
            }
        }

        &-bottom {
            display: flex;
            align-items: center;
            gap: 4rem;
            margin-top: 2rem;
        }

        &-service {
            display: flex;
            align-items: center;
            gap: 0.8rem;

            font-size: 1.4rem;
            line-height: 142.857%;
        }

        &-dot {
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            background: var(--checkout-text-color);
        }

        &-button {
            display: flex;
            align-items: center;
            gap: 1rem;

            font-size: 1.8rem;
            line-height: 144.444%;
        }
    }

    &__title {
        margin-top: 3rem;
    }

    &__provisional {
        padding-top: 0;

        &-btn {
            padding: 1.8rem 4rem;

            font-size: 1.8rem;

            @include abstracts.screen(md) {
                padding: 1.2rem 2.4rem;

                font-size: 1.8rem;
            }
        }
    }

    &__product:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
    }

    &__bill {
        &-btn {
            margin-top: 1.2rem;
            font-size: 1.6rem;
        }
    }

    &-select {
        &__city {
            position: relative;
        }

        &__header {
            display: flex;

            margin: 1rem 0 2rem;
            padding-left: 3rem;

            &-title {
                margin: 0 auto;

                font-size: 1.8rem;
                font-weight: 500;
            }
        }

        &__wrap {
            display: flex;
            opacity: 0;
            visibility: hidden;
            flex-direction: column;
            position: absolute;
            z-index: 1;
            bottom: 4.4rem;

            min-width: 28rem;
            max-height: 26rem;
            padding: 1rem 0;
            border: 0.1rem solid var(--border-auth-input-color);
            border-radius: 2rem;

            background: var(--shipping-select-background);

            &.show {
                opacity: 1;
                visibility: visible;
            }

            @include abstracts.screen(sm) {
                position: fixed;
                max-height: initial;
                inset: 0;

                border: none;
                border-radius: 0;
            }
        }

        &__search {
            display: flex;
            align-items: center;

            padding: 0 2rem 1rem;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            margin-bottom: 1rem;

            &--icon {
                width: 2rem;
            }

            @include abstracts.screen(lg) {
                margin-top: 3rem;
            }

            @include abstracts.screen(sm) {
                margin: 0 3rem;
                padding: 1rem 1rem;
                border: 1px solid #d2d1d6;
                border-radius: 1rem;
            }
        }
    }

    &-option {
        &__list {
            flex: 1;
        }
    }
}

.payment {
    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        @include abstracts.screen(sm) {
            gap: 2rem;
        }
    }

    &__header {
        flex-direction: row;
        align-items: center;
    }

    &__heading {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;

        @include abstracts.screen(xl) {
            max-width: 40rem;
            font-size: 2rem;
        }

        @include abstracts.screen(lg) {
            max-width: 45rem;
            font-size: 2.2rem;
        }

        @include abstracts.screen(md) {
            max-width: 30rem;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 150%;
        }

        @include abstracts.screen(sm) {
            max-width: 21.3rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 150%;
        }
    }

    &__edit-btn {
        align-self: center;

        @include abstracts.screen(sm) {
            margin-top: 0;
            align-self: center;
            text-align: right;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        margin-top: 3rem;

        @include abstracts.screen(sm) {
            gap: 2rem;

            margin-top: 2rem;
        }

        &__title {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;

            @include abstracts.screen(xl) {
                font-size: 1.6rem;
            }

            @include abstracts.screen(lg) {
                font-size: 1.8rem;
            }

            @include abstracts.screen(md) {
                font-size: 1.6rem;
            }
        }
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 2rem;
        border-radius: 2rem;

        color: var(--checkout-text-color);
        background: var(--payment-item-background);

        @include abstracts.screen(sm) {
            padding: 1.6rem;
        }

        &__left {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;

            @include abstracts.screen(sm) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &__right {
            display: flex;
            align-items: center;

            &-text {
                cursor: pointer;

                font-size: 1.8rem;
                font-weight: 500;
                line-height: 144.444%;

                color: #9e9da8;
            }
        }

        &__title {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;

            @include abstracts.screen(xl) {
                font-size: 1.6rem;
            }

            @include abstracts.screen(lg) {
                font-size: 1.8rem;
            }

            @include abstracts.screen(md) {
                font-size: 1.6rem;
                line-height: 150%;
            }
        }

        &__desc {
            font-size: 1.5rem;
            line-height: 146.667%;

            @include abstracts.screen(sm) {
                max-width: 22.3rem;
                font-size: 1.4rem;
                line-height: 142.857%;
            }
        }

        &__check {
            width: 2rem;

            filter: var(--payment-check-color);
        }

        &__link {
            font-size: 1.5rem;
            line-height: 146.667%;

            &:hover {
                text-decoration: underline;
            }
        }

        &__method {
            @include abstracts.screen(sm) {
                flex-direction: column;
                align-items: flex-start;
            }

            &-left {
                display: flex;
                align-items: center;
                gap: 2rem;
            }

            &-desc {
                @include abstracts.screen(sm) {
                    margin-top: 0.8rem;
                }
            }

            &-text {
                position: relative;

                margin-right: 2rem;
                padding-right: 1.4rem;

                @include abstracts.screen(md) {
                    font-size: 1.6rem;
                }

                @include abstracts.screen(sm) {
                    margin-top: 1rem;
                    margin-left: 9rem;

                    font-size: 1.8rem;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 4px;
                    right: -19px;
                    width: 1.85rem;
                    height: 1.85rem;
                    border: 0.2rem solid #9e9da8;
                    border-radius: 0.5rem;

                    @include abstracts.screen(md) {
                        top: 2px;
                    }
                }

                &::after {
                    content: url(../../assets/icons/check.svg);
                    position: absolute;
                    top: -1px;
                    right: -15px;
                    width: 1rem;
                    height: 1rem;
                    filter: var(--shipping-check-color);

                    @include abstracts.screen(md) {
                        top: 0;
                    }
                }
            }
        }

        &__right:has(input[type='radio']:checked) &__method-text {
            color: var(--checkout-text-color);
        }

        &__right:has(input[type='radio']:checked) &__method-text::before {
            border-color: #67b044;
            background: #67b044;
        }

        &__right:has(input[type='radio']:checked) &__method-text::after {
            filter: var(--shipping-checked-color);
        }

        &__thumb {
            width: 7rem;
            height: 5.4rem;
        }

        &__image {
            width: 100%;
        }
    }

    &__bill {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        margin-top: 1.6rem;

        @include abstracts.screen(lg) {
            margin-top: 0;
        }

        &-btn {
            padding-top: 1.8rem;
            padding-bottom: 1.8rem;
            margin-top: 1.4rem;

            @include abstracts.screen(xl) {
                padding-top: 1.6rem;
                padding-bottom: 1.6rem;
            }

            @include abstracts.screen(lg) {
                padding-top: 1.8rem;
                padding-bottom: 1.8rem;
            }

            @include abstracts.screen(sm) {
                padding-top: 1.2rem;
                padding-bottom: 1.2rem;
                margin-top: 0;
                border-radius: 1rem;

                font-size: 1.6rem;
                line-height: 150%;
            }
        }
    }
}

.favourite {
    &__heading {
        margin-top: 3rem;

        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;

        @include abstracts.screen(sm) {
            margin-top: 1.6rem;
        }
    }

    &__count {
        margin-top: 0.6rem;

        font-size: 1.5rem;
        line-height: 146.667%;
    }

    &__label {
        cursor: pointer;
        display: block;
        position: relative;

        margin-top: 3rem;
        padding-left: 3rem;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        &::before {
            content: '';
            position: absolute;
            top: 4px;
            left: 0;
            width: 1.85rem;
            height: 1.85rem;
            border: 0.1rem solid var(--checkout-text-color);
            border-radius: 0.5rem;
        }

        &::after {
            content: url(../../assets/icons/check.svg);
            position: absolute;
            top: -1px;
            left: 5px;
            width: 1rem;
            height: 1rem;
            filter: var(--shipping-check-color);

            @include abstracts.screen(sm) {
                top: 0.2rem;
                left: -47px;
            }
        }

        &:has(input[type='checkbox']:checked) &::before {
            border-color: #67b044;
            background: #67b044;
        }

        &:has(input[type='checkbox']:checked) &::after {
            filter: var(--shipping-checked-color);
        }

        @include abstracts.screen(sm) {
            font-size: 1.6rem;
            line-height: 150%;
        }
    }

    &__item-label {
        &::before {
            top: -16px;

            @include abstracts.screen(sm) {
                top: -2.6rem;
            }
        }

        &::after {
            top: -20px;
        }
    }

    &__image {
        @include abstracts.screen(sm) {
            margin-top: -1rem;
        }
    }

    &__title {
        max-width: 100%;
    }

    &__bottom {
        margin-top: 1.2rem;

        @include abstracts.screen(sm) {
            margin-top: 0;
        }
    }

    &__edit {
        @include abstracts.screen(lg) {
            flex-direction: column;
        }

        @include abstracts.screen(sm) {
            gap: 1.6rem;
        }
    }

    &__wrap {
        @include abstracts.screen(lg) {
            max-width: 14rem;
            gap: 3rem;
        }
    }

    &__right {
        align-self: normal;
        justify-content: space-between;

        &-price {
            margin-top: 1rem;

            @include abstracts.screen(sm) {
                margin-top: 0;
            }
        }
    }

    &__content {
        align-items: center;
    }

    &__cta {
        position: relative;
        padding-left: 4rem;
        margin-bottom: 0;
    }

    &__liked {
        position: absolute;
        top: 0.8rem;
        left: 0;

        @include abstracts.screen(sm) {
            top: 0.1rem;
        }
    }

    &__btn {
        padding: 1.8rem 4rem;

        @include abstracts.screen(md) {
            max-width: 16.8rem;

            font-size: 1.6rem;
        }

        &--all {
            @include abstracts.screen(sm) {
                padding: 1.8rem 3rem;

                font-size: 1.4rem;
            }
        }
    }

    &__provisional {
        padding-top: 0;
    }
}
