@use '../abstracts';

.home {
    padding-bottom: 3.9rem;

    &__container {
        margin-top: 4rem;

        @include abstracts.screen(md) {
            margin-top: 3rem;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;
        margin-bottom: 2rem;

        @include abstracts.screen(sm) {
            font-size: 2.2rem;
            line-height: 145.455%;
        }
    }

    &__categories {
        --grid-gutter-x: 5.1rem;

        @include abstracts.screen(xl) {
            --grid-gutter-x: 2rem;
        }

        @include abstracts.screen(md) {
            --grid-gutter-y: 2rem;
            --grid-gutter-x: 0;
        }
    }

    &__products {
        --grid-gutter-y: 3rem;

        @include abstracts.screen(xl) {
            --grid-gutter-x: 3rem;
            --grid-gutter-y: 3rem;
        }

        @include abstracts.screen(md) {
            --grid-gutter-y: 2rem;
        }
    }
}
