@use '../abstracts';

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(90%) sepia(99%) saturate(33%) hue-rotate(193deg) brightness(108%)
        contrast(99%);
    --icon-opacity-color: brightness(0) saturate(100%) invert(71%) sepia(6%) saturate(134%) hue-rotate(191deg)
        brightness(104%) contrast(92%);

    //============== Header =================
    --header-background: rgba(23, 28, 40, 1);
    @include abstracts.screen(md) {
        --box-shadow-header-mobile-color: rgba(0, 0, 0, 0.2);
    }

    --group-background: rgba(41, 46, 57, 1);
    --hover-btn-header-color: #000;
    --hover-btn-header-icon: brightness(0) saturate(100%) invert(0%) sepia(90%) saturate(7500%) hue-rotate(60deg)
        brightness(88%) contrast(112%);
    --hover-btn-header-background: #fff;
    --sperate-header-color: rgba(237, 237, 246, 1);
    --box-shadow-btn-header-color: rgba(0, 0, 0, 0.2);
    --box-shadow-avatar-header-color: rgba(0, 0, 0, 0.08);

    //============== Navbar =================
    --dropdown-background: #2f3441;
    --box-shadow-dropdown-color: rgba(23, 28, 40, 0.4);
    --arrow-dropdown-color: brightness(0) saturate(100%) invert(14%) sepia(21%) saturate(722%) hue-rotate(185deg)
        brightness(100%) contrast(84%);

    --border-right-top-menu-color: #171c28;

    //============== Body =================
    --body-background: #292e39;

    //============== Scroll bar =================
    --scrollbar-thumb-color: rgba(237, 237, 246, 0.5);
    --scrollbar-track-color: rgba(0, 0, 0, 0.05);

    //============== Side bar =================
    --sidebar-background: #292e39;
    --box-shadow-sidebar-color: rgba(23, 28, 40, 0.4);

    //============== Categories =================
    --item-categories-title-color: #fff;
    --item-categories-background: #171c28;
    --item-categories-image-background: #292e39;

    //============== Products =================
    --filter-background: #171c28;
    --item-product-background: #171c28;
    --item-product-favourite-background: #292e39;
    --box-shadow-favourite-color: rgba(124, 124, 124, 0.3);

    //============== Filter =================
    --filter-btn-color: #d2d1d6;
    --filter-background: #2f3441;
    --filter-arrow-color: brightness(0) saturate(100%) invert(14%) sepia(21%) saturate(722%) hue-rotate(185deg)
        brightness(100%) contrast(84%);
    --box-shadow-filter-color: rgba(0, 0, 0, 0.4);
    --select-btn-background: #171c28;
    --slider-circle-background: #292e39;

    //============== Footer =================
    --footer-background: rgba(23, 28, 40, 1);
    --footer-desc-color: #8d8d8d;
    --footer-form-background: #2f3441;
    --footer-submit-btn-color: #1a162e;

    //============== Auth =================
    --auth-left-background: #171c28;
    --left-desc-color: #b9babe;
    --auth-right-background: #292e39;
    --auth-right-title-color: #b9babe;
    --auth-right-desc-color: #9e9da8;
    --border-auth-input-color: #b9babe;
    --placeholder-auth-input-color: #b9babe;
    --form-error-message-color: rgb(226, 97, 97);
    --checkbox-label-auth-color: #b9babe;
    --signin-btn-color: #b9babe;
    --signin-btn-icon-color: brightness(0) saturate(100%) invert(82%) sepia(7%) saturate(120%) hue-rotate(191deg)
        brightness(94%) contrast(81%);
    --auth-right-question-color: #b9babe;
    --form-option-hover-item: #2f3441;

    //============== Send to mail =================
    --send-text-color: #b9babe;

    //============== Breadcrumbs =================
    --breadcrums-background: #171c28;
    --box-shadow-breadcrums: rgba(23, 28, 40, 0.2);

    //============== Product detail =================
    --product-detail-background: #292e39;
    --product-detail-content-bachground: #171c28;
    --produc-detail-content-text-color: #eee;
    --product-detail-form-btn-bachground: #292e39;
    --product-detail-thumb-current-background: #7e7d7d;
    --product-detail-preview-background: #171c28;

    //============== Tab content =================
    --tab-content-item-background: #171c28;

    //============== Search =================
    --search-background: #171c28;
    --search-text-input-color: #b9babe;
    --large-screen-search-background: #171c28;

    //============== Cart =================
    --cart-background: #292e39;
    --box-shadow-cart-color: rgba(23, 28, 40, 0.4);
    --cart-item-background: rgba(0, 0, 0, 0.05);
    --cart-text-color: #b9babe;

    //============== Similar =================
    --similar-item-background: rgba(23, 28, 40, 1);

    //============== Checkout =================
    --checkout-background: #171c28;
    --checkout-text-color: #b9babe;
    --checkout-boder-color: #292e39;
    --gift-image-background: #292e39;
    --shipping-check-color: brightness(0) saturate(100%) invert(8%) sepia(36%) saturate(637%) hue-rotate(183deg)
        brightness(102%) contrast(94%);
    --shipping-checked-color: brightness(0) saturate(100%) invert(94%) sepia(0%) saturate(7486%) hue-rotate(194deg)
        brightness(107%) contrast(96%);
    --payment-item-background: #292e39;
    --payment-placeholder-color: #b9babe;

    //============== Modal =================
    --modal-background: #2f3441;
    --box-shadow-modal-color: rgba(23, 28, 40, 0.4);
    --shipping-select-background: #292e39;

    //============== Profile =================
    --profile-background: #171c28;
    --profile-color: #b9babe;
    --profile-card-add-title-color: #b9babe;
    --profile-account-info-item-background: #292e39;
    --profile-account-info-item-thumb-background: #171c28;
    --profile-card-add-placeholder-input-color: rgb(108, 108, 108);
}
