@use '../abstracts';

/*================ Header ================*/
%flexItemCenter {
    display: flex;
    align-items: center;
}

.header {
    padding: 3rem 0;
    background: var(--header-background);

    @include abstracts.screen(lg) {
        padding: 1.6rem 0;
        box-shadow: 0px 20px 60px 10px var(--box-shadow-header-mobile-color);
    }

    @include abstracts.screen(lg) {
        padding: 2rem 0;
    }
}

.top-bar {
    @extend %flexItemCenter;
    position: relative;
    z-index: 99;

    @include abstracts.screen(md) {
        justify-content: space-between;
    }
}

.navbar {
    margin-left: 12.9rem;

    @include abstracts.screen(xl) {
        margin-left: 2.9rem;
    }

    @include abstracts.screen(lg) {
        position: fixed;
        z-index: 9;
        inset: 0 50% 0 0;
        background: var(--sidebar-background);
        margin-left: 0;
        padding: 2rem 1.5rem;
        border-radius: 0 2rem 2rem 0;
        transform: translateX(-100%);
        transition: transform 0.5s;
        overflow: hidden;

        &.show {
            transform: translateX(0);
            box-shadow: 0px 40px 90px 20px var(--box-shadow-sidebar-color);
        }

        &.show ~ &__overlay {
            opacity: 1;
            visibility: visible;
        }
    }

    @include abstracts.screen(sm) {
        inset: 0 20% 0 0;

        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    &__close-btn {
        padding-left: 1.2rem;
    }

    &__list {
        @extend %flexItemCenter;

        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;

            overflow-y: auto;
            overscroll-behavior: contain;
            height: calc(100% - 2rem);
        }

        @include abstracts.screen(md) {
            height: calc(100% - 12rem);
        }
    }

    &__item {
        &:hover {
            .dropdown {
                opacity: 1;
                visibility: visible;
                transition: opacity, visibility;
                transition-duration: 0.5s;
            }
        }

        @include abstracts.screen(lg) {
            width: 100%;

            &:hover {
                .dropdown {
                    opacity: 0;
                    visibility: hidden;
                }
            }

            &--active {
                .dropdown {
                    opacity: 1 !important;
                    visibility: visible !important;
                }
            }
        }
    }

    &__link {
        position: relative;
        @extend %flexItemCenter;
        gap: 0.6rem;
        padding: 1.4rem 1.5rem;
        color: inherit;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        &::after {
            content: '';
            position: absolute;
            bottom: -5rem;
            left: 0;
            right: 0;
            height: 5.2rem;
        }

        @include abstracts.screen(lg) {
            justify-content: space-between;
            font-size: 1.6rem;
            line-height: 150%;
            padding-top: 1.4rem;
            padding-bottom: 0;

            &::after {
                content: none;
            }
        }
    }

    &__arrow {
        margin-top: 0.5rem;

        @include abstracts.screen(lg) {
            rotate: -90deg;
            transition: 0.3s;
        }
    }

    &__item--active &__arrow {
        rotate: 0deg;
    }

    &__overlay {
        opacity: 0;
        visibility: hidden;

        @include abstracts.screen(lg) {
            position: fixed;
            inset: 0;
            background: rgba($color: #000000, $alpha: 0.4);
            transition: opacity, visibility;
            transition-duration: 0.5s;
        }
    }
}

.top-action {
    @extend %flexItemCenter;
    gap: 2rem;
    margin-left: auto;

    @include abstracts.screen(md) {
        margin-left: 0;
    }

    &__group {
        @extend %flexItemCenter;
        background: var(--group-background);
        border-radius: 0.8rem;
    }

    &__group--single &__btn {
        padding: 1.3rem;
    }

    &__btn {
        cursor: pointer;
        @extend %flexItemCenter;
        gap: 1rem;
        padding: 1.3rem 2rem;
        border: none;
        border-radius: 0.8rem;
        box-shadow: 0px 20px 60px 10px var(--box-shadow-btn-header-color);

        &:hover {
            color: var(--hover-btn-header-color);
            background: var(--hover-btn-header-background);
        }
    }

    &__btn:hover &__icon {
        filter: var(--hover-btn-header-icon);
    }

    &__title {
        color: inherit;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__separate {
        width: 0.1rem;
        height: 3rem;
        background: var(--sperate-header-color);
    }

    &__user {
        cursor: pointer;
        width: 5rem;
        height: 5rem;
        border-radius: 0.8rem;
        box-shadow: 0px 4px 14px 2px var(--box-shadow-avatar-header-color);
        overflow: hidden;
    }

    &__avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.nav-btn {
    align-items: center;
    margin: 2rem 0;
    padding: 0 1.5rem;

    &__title,
    &__quatity {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__title {
        margin-left: 1.5rem;
    }

    &__quatity {
        margin-left: auto;
    }

    &:last-of-type {
        margin-bottom: 1.5rem;
    }
}
