@use '../abstracts';

/*================ Header ================*/
%flexItemCenter {
    display: flex;
    align-items: center;
}

.header {
    padding: 3rem 0;
    background: var(--header-background);

    @include abstracts.breakpoint(sm) {
        padding: 1.6rem 0;
    }

    @include abstracts.breakpoint(lg) {
        padding: 2rem 0;
    }
}

.top-bar {
    @extend %flexItemCenter;

    @include abstracts.breakpoint(sm) {
        justify-content: space-between;
    }

    &__more {
        display: none;

        @include abstracts.breakpoint(lg) {
            display: block;
            margin-top: 0.5rem;
        }
    }
}

.navbar {
    margin-left: 14.4rem;

    @include abstracts.breakpoint(xl) {
        margin-left: 5rem;
    }

    @include abstracts.breakpoint(lg) {
        display: none;
    }

    &__list {
        @extend %flexItemCenter;
        gap: 3rem;
    }

    &__item {
        @extend %flexItemCenter;
        gap: 0.6rem;
    }

    &__link {
        padding: 1rem 0;
        color: inherit;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__arrow {
        margin-top: 0.5rem;
    }
}

.top-action {
    @extend %flexItemCenter;
    gap: 2rem;
    margin-left: auto;

    @include abstracts.breakpoint(sm) {
        margin-left: 0;
    }

    &__group {
        @extend %flexItemCenter;
        background: var(--group-background);
        border-radius: 0.8rem;

        @include abstracts.breakpoint(md) {
            display: none;
        }
    }

    &__group--single {
        @include abstracts.breakpoint(lg) {
            display: none;
        }
    }

    &__group--single &__btn {
        padding: 1.3rem;
    }

    &__btn {
        cursor: pointer;
        @extend %flexItemCenter;
        gap: 1rem;
        padding: 1.3rem 2rem;
        border: none;
        border-radius: 0.8rem;
        box-shadow: 0px 20px 60px 10px var(--box-shadow-btn-header-color);

        &:hover {
            color: var(--hover-btn-header-color);
            background: var(--hover-btn-header-background);
        }
    }

    &__btn:hover &__icon {
        filter: var(--hover-btn-header-icon);
    }

    &__title {
        color: inherit;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__separate {
        width: 0.1rem;
        height: 3rem;
        background: var(--sperate-header-color);
    }

    &__user {
        cursor: pointer;
        width: 5rem;
        height: 5rem;
        border-radius: 0.8rem;
        box-shadow: 0px 4px 14px 2px var(--box-shadow-avatar-header-color);
        overflow: hidden;
    }

    &__avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
