@use '../abstracts';

/*================== Base ==================*/
*,
::before,
::after {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
    color: var(--text-color);
    background: var(--body-background);
}

a {
    color: inherit;
    text-decoration: none;
}

.icon {
    filter: var(--icon-color);
}

a,
button,
input,
section,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

input {
    outline: none;
}

button {
    cursor: pointer;
    border: none;
    padding: 0;
    background: transparent;
}

input,
select {
    background: transparent;
}

.container {
    @include abstracts.screen(sm) {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}
