<div class="container">
    <div class="footer__content">
        <div class="footer__left">
            <a href="./" class="logo">
                <img src="./assets/icons/logo.svg" alt="Logo" class="logo__image" />
                <h1 class="logo__title">grocerymart</h1>
            </a>

            <p class="footer__desc">
                Grocerymart was designed and founded in 2024 by person. The theme is about sneakers ecommerce that use
                for shoes selling around the wolrd.
            </p>

            <article class="footer-form">
                <div class="footer-form__header">
                    <h2 class="footer-form__header--title">Don't Wanna Miss Our Offers?</h2>
                    <p class="footer-form__header--desc">
                        Drop your email bellow, and start receiving the best offers from Grocerymart?
                    </p>
                </div>

                <form action="" class="footer-form__submit">
                    <input
                        type="email"
                        name=""
                        id=""
                        placeholder="Your email@mail.com"
                        class="footer-form__submit--input"
                    />
                    <button class="btn btn--rounded footer-form__submit--btn">Subscribe</button>
                </form>
            </article>
        </div>

        <div class="footer__right">
            <!-- List 1 -->
            <section class="footer__col">
                <h3 class="footer__header">Products</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Departments</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Grocery</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Beauty</a>
                    </li>
                </ul>
            </section>

            <!-- List 2 -->
            <section class="footer__col">
                <h3 class="footer__header">Collections</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">TV & Video</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Computers</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Savings</a>
                    </li>
                </ul>
            </section>

            <!-- List 3 -->
            <section class="footer__col">
                <h3 class="footer__header">Legal</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Privary policy</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Terms and Conditions</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Beauty</a>
                    </li>
                </ul>
            </section>

            <!-- List 4 -->
            <section class="footer__col">
                <h3 class="footer__header">Featured</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">New Arrivals</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Sale</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Start Selling</a>
                    </li>
                </ul>
            </section>

            <!-- List 5 -->
            <section class="footer__col">
                <h3 class="footer__header">Support</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Contact us</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Give feedback</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Help center</a>
                    </li>
                </ul>
            </section>

            <section class="footer__col">
                <h3 class="footer__header">Contact us</h3>
                <div class="footer__contact">
                    <a href="#!" class="footer__social">
                        <img src="./assets/icons/facebook.svg" alt="Facebook" class="icon footer__social--icon" />
                    </a>
                    <a href="#!" class="footer__social">
                        <img src="./assets/icons/instagram.svg" alt="Instagram" class="icon footer__social--icon" />
                    </a>
                    <a href="#!" class="footer__social">
                        <img src="./assets/icons/x.svg" alt="X" class="icon footer__social--icon" />
                    </a>
                    <a href="#!" class="footer__social">
                        <img src="./assets/icons/tiktok.svg" alt="Tiktok" class="icon footer__social--icon" />
                    </a>
                    <a href="#!" class="footer__social">
                        <img src="./assets/icons/amazon.svg" alt="Amazon" class="icon footer__social--icon" />
                    </a>
                </div>
            </section>
        </div>
    </div>

    <div class="footer__copyright">
        <a href="#!">
            <img src="./assets/icons/cart.svg" alt="Cart" class="icon footer__cart" />
        </a>
        <span class="footer__copyright--content">© 2024 Ligft Media All rights reserved.</span>
    </div>
</div>
